@import url('../../root.css');

.tabContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tabWrapper {
    border: none;
    background-color: var(--dark);
}

.activeTab {
    padding: 1rem;
    background-color: var(--lighterDark);
    font-weight: 600;
    color: var(--lightBlue02);
    border-radius: .5rem;
}

.inactiveTab {
    padding: 1rem;
    color: var(--lightBlue01)
}