@import url("../../root.css");

.tabContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.tabWrapper {
  border: none;
  background-color: black;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  height: 30rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.activeTab {
  padding: 1rem;
  border-radius: 0.5rem;
  width: 32px;
}

.inactiveTab {
  padding: 1rem;
  color: black;
  background-image: url("../../img/labelv.png");
  font-family: var(--tapeFont);
  font-size: 24px;
}
