@import url("../../root.css");

.tv {
  padding: 2.5rem;
  max-width: 800px;
  background-color: var(--lighterDark);
  /* border-radius: 2.5rem; */
  margin: 0 2.5rem 2.5rem 0;
}

.screen {
  background-image: url("../../img/tv_gif.gif");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2.5rem;
  padding: 2.5rem;
  height: 372px;
  box-shadow: inset 0px 1px 2px 0px rgba(1, 43, 48, 0.25),
    inset 1px 2px 4px 0px rgba(1, 43, 48, 0.25),
    inset 2px 4px 8px 0px rgba(1, 43, 48, 0.25),
    inset 2px 4px 16px 0px rgba(1, 43, 48, 0.25);
  /* 0 0 0 15px hsl(189, 7%, 20%), */
}

.screenWrapper {
  background-color: hsl(189, 5%, 50%);
  box-shadow: 0 0 0 15px hsl(189, 5%, 50%), 0 65px 0 35px hsl(0, 0%, 36%),
    0 0px 0 35px hsl(0, 0%, 36%);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.tvText {
  font-family: "Press Start 2P", cursive;
  text-shadow: 0.06rem 0 0.06rem #ea36af, -0.08rem 0 0.06rem #75fa69;
  letter-spacing: 0.125em;
}

.tvMenu {
  height: 92px;
  /* background-color: red; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.knob {
  width: 60px;
  height: 60px;
  background-color: #999;
  border-radius: 50%;
  margin-top: 20px;
  cursor: pointer;
}

.knobHandle {
  width: 54px;
  height: 1px;
  background-color: #555;
  position: relative;
  top: 30px;
  left: 50%;
  box-shadow: 0 0 0 5px hsl(189, 5%, 50%);
  transform: translateX(-50%);
}