@import url("../../root.css");

.tv {
  padding: 2.5rem;
  width: 700px;
  background-color: var(--lighterDark);
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  background-image: url("../../img/plastic_texture.png");
  object-fit: cover;
  margin: 0 2.5rem 2.5rem 0;
}

.screen {
  background-image: url("../../img/tv_gif.gif");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2.5rem;
  padding: 2.5rem;
  height: 372px;
  box-shadow: inset 0px 1px 2px 0px rgba(1, 43, 48, 0.25),
    inset 1px 2px 4px 0px rgba(1, 43, 48, 0.25),
    inset 2px 4px 8px 0px rgba(1, 43, 48, 0.25),
    inset 2px 4px 16px 0px rgba(1, 43, 48, 0.25);
}

.screenWrapper {
  background-color: hsl(189, 5%, 50%);
  box-shadow: 0 0 0 15px hsl(189, 5%, 50%);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.tvText, .linksWrapper {
  font-family: "Press Start 2P", cursive;
  text-shadow: 0.06rem 0 0.06rem #ea36af, -0.08rem 0 0.06rem #75fa69;
  letter-spacing: 0.125em;
}

.asset {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 75%;
  box-shadow: 0 0 16px 24px black;
  border-radius: 1rem;
}

.assetNoShadow {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 75%;
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
}

.link {
  display: flex;
  align-items: center;
  width: 220px;
  height: 48px;
  margin: 0.5rem;
}

.link a {
  margin-left: 1.5rem;
  font-size: 32px;
}

.iconWrap {
  margin-bottom: 4px;
}

a:link, a:active, a:visited, a:hover {
  color: var(--defaultColor);
  text-decoration: none;
}

.tvMenu {
  margin-top: 15px;
  height: 92px;
  margin-right: -0.95rem;
  margin-left: -0.95rem;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:hsl(193, 7%, 50%);
}

.knob {
  width: 60px;
  height: 60px;
  background-color: var(--lighterDark);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset 0 0 0 15px hsla(0, 0%, 100%, 0.125);
}

.knobHandle {
  width: 54px;
  height: 1px;
  background-color: #555;
  position: relative;
  top: 30px;
  left: 50%;
  box-shadow: 0 0 0 5px hsl(0, 0%, 50%);
  transform: translateX(-50%);
}

.activeTape {
  background-color: black;
  background-image: url("../../img/label.png");
  width: 30rem;
  height: 48px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activeTapeText {
  font-family: var(--tapeFont);
  font-size: 24px;
  color: black;
  text-align: center;
}
