@import url("../../root.css");

.footerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

section {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.footerSection {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  min-width: 200;
}

.footerSection:last-of-type {
  margin-left: auto;
}

li {
  list-style-type: square;
}

.noBullet {
  list-style: none;
}
